.btn-menu {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .menu-reponsive {
    display: none;
  }
  
  .menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu__item {
    list-style: none;
    height: 25px;
    width: auto;
  }
  .drop-down {
    background-color: #00c6e8;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .box-center::before {
    content: "";
    height: 15px;
    width: 15px;
    background-color: #00c6e8;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    left: 50px;
  }
  .active {
    border-bottom: 3px solid #00daff;
  }
  .drop-down a {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
  }

  .menu__item a:hover {
    color: #0bbee7;
    text-decoration: none;
  }
  .triangle-relative {
    position: relative;
  }
  .menu-reponsive {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .box-menu {
      width: 100%;
      background-color: #ffffff;
    }

    .menu {
      display: none;
    }
    .menu-reponsive {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .box-menu-reponsive {
      display: block;
      width: 80%;
      height: 900px;
      background-color: #f4f6fa;
      padding: 53px 38px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      transform: translateX(125%);
    }
    .menu-reponsive-item {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.02em;
      color: #25282b;
      margin: 28px 0;
    }
}
  