@font-face {
  font-family: SVN-Poppins;
  src: url(/assets/fonts/SVN-Poppins-Regular.ttf);
}
html,
body {
  font-family: SVN-Poppins !important;
}
* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    /* transform: translateX(-80%);
    transition: 0.5s;
    transition-delay: 3s; */
  }
  .main-page{
    width: 100%;
  }
 
}
