@font-face {
  font-family: SVN-Poppins;
  src: url(/public/assets/fonts/TTF/SVN-Poppins-Medium.ttf);
}
html,
body {
  font-family: SVN-Poppins !important;
}
* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .main-page{
    width: 100%;
  }
 
}
